<h2>Update <%= @dog.name %>'s info</h2>

<div class="col-lg-offset-4 col-lg-4">
<%= simple_form_for @dog do |f| %>
<%= f.input :name %>
<%= f.input :breed %>
<%= f.input :age %>
<%= f.input :description %>
<%= f.input :photo, as: :attachinary %>
<%= f.button :submit, "Save changes" %>
<% end %>
</div>
