<div class="text-center">
  Welcome, <%= current_user.first_name %>
  <br>
  <%= link_to "Add your pet", new_dog_path %>
</div>

<div class="text-center">
<% if current_user.owned_dogs.count > 0 %>
  <h3>Your Pups</h3>
  <% current_user.owned_dogs.each do |dog| %>
  <ul style="list-style: none">
    <li>
      <p><%= dog.name %></p>
    </li>
  </ul>
  <%= link_to "Edit info", edit_dog_path(dog) %>
  <% end %>
<% else %>
  <p>You don't have any dogs yet!</p>
<% end %>
</div>

<div class="text-center">
  <% if current_user.booked_dogs.count > 0 %>
  <h3>Your upcoming puppy play dates:</h3>
  <% current_user.booked_dogs.each do |dog| %>
  <%= link_to dog.name, dog_path(dog) %>
  <% end %>
  <% end %>
</div>





